<%= render "./users/tabs" %>

<div class="user-page" id="user-history">
<ul>
<% @logs.each do |log| %>
  <div id="log">
    <li>ID: <%= log.id %>
    	<br>
    	<%= log.created_at.strftime("%A %b %d, %Y") %>
    	<br>
    	<%= log.mileage %> miles
    	</li>
   </div>
    <% end %>
</ul>
</div>