<ul>
<% @logs.each do |log| %>
  <div id="log">
    <li>ID: <%= log.id %>
    	<br>
    	DATE: <%= log.date %>
    	<br>
    	MILES: <%= log.mileage %>
    	</li>
   </div>
    <% end %>
</ul>

<%= DateTime.new.to_date %>