<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-xs-12">
		  <ul class="nav nav-tabs user-tabs">
		    <li><%= link_to "My Profile", user_path(current_user), :id => "site-title" %></li>
		    <li><%= link_to "History", user_logs_path(current_user) %></li>
		    <li><%= link_to "New Team", teams_path %></li>
		  </ul>
		</div>
	</div>
</div>