<img id="splash" src="http://www.bypeople.com/wp-content/uploads/2015/05/css-gradient-background.png">

<div class="row splash-row">
	
	<div class="col-md-12 splash-btn" id="splash-page-div">
		<div class="splash btn-group">
		  <p id="sign-up"><%= link_to "Sign Up", new_user_path, :id => 'sign-up' %></p>
		  <p id="login"><%= link_to "Log In", login_path, :id => 'login' %></p>
		  <p id="about" data-toggle="collapse" data-target="#about-content" aria-expanded="false" aria-controls="about-content"><a href="#about-content">About</a></p>
		  <div id="about-content" class="collapse">
			<p class="about-site hidden">A Few Short Miles is a an app created for family and friends of a deployed loved one in the military.  Users sign up, join a team made up of users on their home base who are currently starting the same deployment, and collectively keep track of how many miles they run, bike, swim, or walk each day.  Each team’s goal is to reach the number of miles between their home base and the location of their loved one’s deployment.</p>
			</div>
		 </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 heading">
		<h2>A Few Short Miles</h2>
		<h4>Get there faster</h4>
	</div>
</div>
<br>

