<img id="fade-out-img" src="https://www.thenation.com/wp-content/uploads/2015/03/soldierdistance_ap.jpg">
<img id="splash" src="https://www.yourphysioplan.com/wp-content/uploads/2015/07/winding-road-running.jpg">

<div id="about-content">
	<p>A few short miles is a an app created for family and friends of a deployed loved on in the military.  Users sign up, join a team made up of users on their home base who are currently starting the same deployment, and collectively keep track of how many miles they run, bike, swim, or walk each day.  Each team’s goal is to reach the number of miles between their home base and the location of their loved one’s deployment.</p>
</div>
<script>
$(document).ready(function() {
  $('#fade-out-img').fadeOut(1000);
  $('#fade-in-img').fadeIn(1000);
  $('#about-content').fadeIn(1200);
});
</script>