<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-s-12">
			<img id="splash" src="http://www.jewishnewsva.org/wp-content/uploads/2013/04/american_flag_wide-e13066212819391.jpg">
			<img src="http://cdn.barnimages.com/wp-content/uploads/2015/11/2015-11-06-roman-002-768x512.jpg">
		</div>
	</div>
</div>