<img id="splash" src="http://www.bypeople.com/wp-content/uploads/2015/05/css-gradient-background.png">

<div id="about-content">
	<p>A few short miles is a an app created for family and friends of a deployed loved on in the military.  Users sign up, join a team made up of users on their home base who are currently starting the same deployment, and collectively keep track of how many miles they run, bike, swim, or walk each day.  Each team’s goal is to reach the number of miles between their home base and the location of their loved one’s deployment.</p>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4 splash-btn">

		<div class="splash btn-group">
		  <button type="button" class="btn btn-default splash-btn" id="sign-up">Sign Up</button>
		  <button type="button" class="btn btn-default splash-btn" id="login">Login</button>
		  <button type="button" class="btn btn-default splash-btn id="about">About</button>
		 </div>
	</div>
</div>
