// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#log {
	text-align: center;
	margin: 0 auto;
	border: 1px solid black;
	width: 50%;
	list-style: none;
}

.calendar-top {
	margin-top: 1em;
}

.calendar-container {
	background-color: #fff;
	height: auto;
	font-family: 'Quicksand', sans-serif;
	border-radius: 0.6%;
}

.calendar-title {
	padding-left: 11em;
	padding-right: 11em;
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;

}

#user-history {
	background-color: #fff;
	text-align: center;
}

#user-history li {
	list-style: none;
	padding-top: 1em;
}

.calendar-square {
	text-align: center;
	height: 30em;
}

table td {
	border: 1px solid black;
	height: 4.5em;
	width: 3em;
}

#calendar-hr {
	margin-top: -0.15em;
}


/******Logs Show******/
.log-show-container {
	background-color: #fff;
	width: 25%;
}