// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.team-show {
	color: #000;
	background-color: #fff;
}

.team-show ul li {
	list-style: none;
}