// Place all the styles related to the team_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#total {
	font-size: 40px;
}

.users-teams {
	background-color: #fff;
}