// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.team-show {
	color: #000;
	background-color: #fff;
}

.team-show ul li {
	list-style: none;
}

.teams-list-item {
	position: absolute;
	clear: both;
	color: #fff;
}

.btn {
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	background-color: #fff;
	text-align: center;
}

.new-team {
	margin-top: 2em;
}