// Place all the styles related to the team_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#total {
	font-size: 3em;
	color: #008080;
}

#user-teams-heading {
	color: #fff;
}

.users-teams {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	text-align: center;
	width: 60%;
	margin-left: 18%;
}

.users-teams ul li {
	list-style: none;
	color: #000;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 4px;
	width: 30%;
	height: 2em;
	padding-top: 0.25em;
	margin-left: 35%;
	background-color: #fff;
}
