// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-team-form p {
	
}

.team-show {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

.team-show ul li {
	list-style: none;
}

.teams-list-item {
	position: absolute;
	clear: both;
	color: #fff;
}

.btn {
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	background-color: #fff;
	text-align: center;
	width: 100%;
}

.new-team {
	margin-top: 2em;
}

#join-btn {
	color: #000;
}

#new-team {
	color: #000;
}

#new-team-btn {
	width: auto;
	color: #000;
	width: 60%;
	margin-top: 2em;
	margin-left: 15%;
	font-size: 1.2em;
}