// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #2A2E30;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.75em;
	color: #F03A47;
}

#new-user {
	color: #000;
	width: 100%;
}

#list-user-info {
	text-align: center;
	color: #fff;
}

#fade-out-img {
 	margin-top: -1.2em;
	position: absolute;
	width: 100%;
	height: 100vh;
  	-webkit-filter: contrast(200%); 
}

#about-content {
	position: absolute;
	width: 30%;
	margin-left: 10%;
	margin-top: -42em;
	font-size: 0.7em;
	text-align: center;
}

#about-content p {
	color: #fff;
}

#splash {
	margin-top: -1.3em;
	width: 100%;
	height: 100vh;
}

.splash-btn {
	position: absolute;
	display: block;
	margin-top: -28em;
	border: 1px solid #fff;
}

.navbar-right li a {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	color: #73B9B9;	text-decoration: none;
}

.user-tabs {
	height: 1.75em;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
}

.user-tabs li {
	margin-top: -2.5em;
}

.user-chart {
	height: 150px;
}

#new-log-form {
	margin-top: 2em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	text-align: center;
}

#new-log-form-mileage {
	margin: 0 auto;
	width: 50%;
}

.form {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

.select-field {
	color: #000;
}
/******High Charts******/
.highcharts-background {
	fill: #2A2E30;
}

tspan {
	fill: #fff;
	font-family: 'Quicksand', sans-serif;
}

.highcharts-axis-title {
	color: #fff;
}

.highcharts-series highcharts-series-0 highcharts-tracker {
	fill: #73B9B9;
}
