// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #2A2E30;
}

#splash {
	width: 100%;
	height: 300px;
}

.user-tabs {
	height: 30px;
}

.user-tabs li {
	margin-top: -2.5em;
}

#user-total-container {
	width: 80%;
	height: 200px;
}