<ul id="your-team-list">
  	<% @teams.uniq.each do |team| %>
    <a href="<%= current_user.id %>/teams/<%= team.id %>">
    	<li class="team-link"><%= team.name %></li>
    </a>
  	<% end %>
</ul>



