<%= render "./users/tabs" %>

<div class="users-teams">
<div><%= @user.first_name %> is a member of the following teams</div>

<ul>
  <% @teams.each do |team| %>   
    <li>#<%= team.id %>: <%= team.name %></li>
  <% end %>
</ul>
</div>


