/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.7.min
 *= require_tree .
 *= require_self
 */

#splash-page-nav-container {
	position: absolute;
	z-index: 5;
	margin-top: 1%;
	min-width: 100%;
	font-family: 'Quicksand', sans-serif;
}

#splash-page-nav-container a:hover {
	text-decoration: none;
}

#splash-title {
	margin-top: 5%;
	color: #73B9B9;
	font-size: 2.25em;
}

.splash-page-nav-ul {
	list-style: none;
	position: relative;
	margin-top: -9.5%;
}

.splash-page-nav-ul li {
	display: inline;
	padding-right: 8%;
	font-size: 1.5em;
}

.splash-page-nav-ul li a:hover {
	color: #73B9B9;
	text-decoration: none;
}

.splash-msg p {
	margin-left: 26%;
	margin-top: -1%;
}

.about-content {
	width: 100%;
}

.heading {
	margin-top: -30%;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}

.heading h2 {
	color: #fff;
	font-family: 'PT sans', sans-serif;
	font-size: 4em;
}

.heading h4 {
	color: #fff;
	font-family: 'PT sans', sans-serif;
	font-size: 2.4em;
}

.splash-row {
	padding-top: 2%;
	margin-top: 6.2%;
	text-shadow: 1px 1px 1px #000000;
}

#splash-page-div {
	border: none;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-top: -22%;
}

.splash p {
	display: inline;
	padding: 0.5em;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 6px;
	text-align: center;
	font-family: 'PT sans', sans-serif;
}

 #sign-up {
 	color: #fff;
 	text-decoration: none;
 	margin-right: 1em;
 	padding-left: 0.8em;
 }

 #login {
 	color: #fff;
 	text-decoration: none;
 	margin-right: 1em;
 	padding-left: 0.8em;
 }

#about a {
	color: #fff;
 	text-decoration: none;
 	width: 30px;
}

#splash {
	max-height: 110vh;
	width: 100%;
}

.splash p:hover {
	border: 2px solid #fff;
}

.user-card {
	background-color: #fff;
	margin-top: 1em;
	height: 15em;
	border-radius: 6px;
	color: #000;
	padding-top: 0.75em;
}

#new-user-card {
	height: 70%;
	font-size: 1.2em;
	padding-top: 1em;
	padding-bottom: 2em;
}

#user-card-login {
	height: 12em;
	margin-top: 4.5em;
}

.user-card-fidgety {
	background-color: #fff;
	margin-top: 1em;
	height: 15em;
	border-radius: 6px;
	color: #000;
	padding-top: 0.75em;
	width: 32%;
}

.team-card {
	background-color: #fff;
	margin-top: 1em;
	height: 20em;
	border-radius: 6px;
	color: #000;
	padding-top: 0.75em;
}

.third {
	width: 32%;
}

.main-nav {
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	font-size: 2.25em;
}

.main-nav a {
	text-decoration: none;
}

.main-nav ul li {
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	text-decoration: none;
}

#session-msg p {
	color: #fff;
	font-size: 1em;
	text-align: center;
}

#session-msg {
	position: absolute;
	margin-left: 33%;
	margin-top: 1%;
	color: #fff;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #008080;
	font-family: 'Quicksand', sans-serif;
}