/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.7.min
 *= require_tree .
 *= require_self
 */

.about-content {
	width: 100%;
}

.heading {
	margin-top: -40em;
	text-align: center;
}

.heading h2 {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 4em;
}

.heading h4 {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.4em;
}

.splash-row {
	padding-top: 2em;
	margin-top: 7.2em;
}

#splash-page-div {
	border: none;
	text-align: center;
	width: 60%;
	margin-left: 21%;
	margin-top: -28%;
}

.splash p {
	display: inline;
	padding: 0.5em;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 6px;
	text-align: center;
}

 #sign-up {
 	color: #fff;
 	text-decoration: none;
 	margin-right: 1em;
 	padding-left: 0.8em;
 }

 #login {
 	color: #fff;
 	text-decoration: none;
 	margin-right: 1em;
 	padding-left: 0.8em;
 }

#about a {
	color: #fff;
 	text-decoration: none;
 	width: 30px;

}

.user-card {
	background-color: #fff;
	margin-top: 1em;
	height: 15em;
	border-radius: 6px;
	color: #000;
	padding-top: 0.75em;
}

.user-card-fidgety {
	background-color: #fff;
	margin-top: 1em;
	height: 15em;
	border-radius: 6px;
	color: #000;
	padding-top: 0.75em;
	width: 32%;
}

.team-card {
	background-color: #fff;
	margin-top: 1em;
	height: 20em;
	border-radius: 6px;
	color: #000;
	padding-top: 0.75em;
}

.third {
	width: 32%;
}

.main-nav {
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	font-size: 2.25em;
}

.main-nav a {
	text-decoration: none;
}

.main-nav ul li {
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	text-decoration: none;
}

#session-msg p {
	color: #fff;
	font-size: 1em;
	text-align: center;
}

#session-msg {
	position: absolute;
	margin-left: 33%;
	margin-top: 1%;
	color: #fff;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #008080;
	font-family: 'Quicksand', sans-serif;
}