// Place all the styles related to the team_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#total {
	font-size: 3em;
	color: #008080;
}

.users-teams {
	 padding-top: 0.75em;
}

.users-teams ul li {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	color: #000;
}

#your-team-list {
	list-style: none;
	font-family: 'Quicksand', sans-serif;
}

#your-team-list li {
	font-size: 1.2em;
	text-align: center;
	color: #008080;
	margin-left: -1em;
}