// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #2A2E30;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.75em;
}

#site-title li a {
	color: #73B9B9;
}

#new-user {
	color: #000;
	width: 100%;
}

#new-user:hover {
	border: 2px solid #2A2E30;
}

#list-user-info {
	width: 60%;
	margin-left: 20%;
	text-align: center;
	color: #73B9B9;
}

#users-teams {
	color: #000;
}

#login-btn {
	color: #000;
	font-size: 1.2em;
}

#login-btn:hover {
	border: 2px solid #000;
}

#about-content {
	position: absolute;
	width: 75%;
	margin-left: 14%;
	font-size: 0.7em;
	text-align: center;
}

#about-site {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	margin-top: -5em;
	font-size: 1.8em;
}

#splash {
	margin-top: -1.3em;
	width: 100%;
	height: 100%;
}

.splash-btn {
	display: block;
	margin-top: -28em;
	border: 1px solid #fff;
}

.navbar-right li a {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	color: #fff;
	text-decoration: none;
}

.user-tabs {
	height: 1.75em;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
}

.user-tabs li {
	margin-top: -2.5em;
}

.user-tabs li a {
	color: #008080;
}

.user-chart {
	height: 150px;
}

.bold {
	color: #008080;
	font-weight: bolder;
}

.my-teams-container {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

#your-team-list li {
	border: 1px solid #000;
	border-radius: 3px;
	height: 2em;
	padding-top: 0.25em;
}

#your-team-list li:hover {
	border: 2px solid #000;
	color: #000;
}

#your-team-list li a:hover {
	text-decoration: none;
}

/******High Charts******/

.chart-container {
	width: 100%;
	background-color: #fff;
	border-radius: 6px;
	height: 15em;
	margin-top: 1em;
}

#user-daily-container {
	width: 90%;
	height: 97%;
	margin: 1em auto;
}

#user-total-container {
	width: 90%;
	height: 97%;
	margin: 1em auto;
}

#user-totals {
	margin-right: 0;
	margin-left: 1em;
	width: 33.4%;
}

#user-totals p {
	font-size: 1.3em;
}

.highcharts-background {
	fill: #fff;
}

tspan {
	fill: #000;
	font-family: 'Quicksand', sans-serif;
}

.highcharts-axis-title {
	color: #fff;
}

.highcharts-series highcharts-series-0 highcharts-tracker {
	fill: #73B9B9;
}

/****** Media Queries ******/
@media only screen and (max-width: 500px) {
    
}
